.content {
  display: flex;
  width: 100%;
}

.content-sidebar {
  width: 10%;
  box-shadow:	0 2px 4px 0 rgba(0,0,0,0.10);
  
}
  
.content-listings {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 10%;
}

.sidebar-button {
  height: 40px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:	0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius:1%;
  margin:5px;
  margin-bottom: 5px;
} 
.sidebar-button-active {
  height: 40px;
  background-color:white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:1%;
  margin:5px;
  box-shadow:	0px 0px 4px 4px #00A6FB;
  margin-bottom: 5px;
}
.display-info{
   position: absolute;
   top: 50%;
   left: 40%;
  font-size: 20px;
  font-weight: 300;
}