.review-input{
  display: block;
  margin: 0 auto;
  transition: .5s; 
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.24);
  background: transparent;
  width: 80%;
  height: 18px;
  color:black;
  
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#review-content{
  display: block;
  margin: 0 auto;
  overflow: auto;
  transition: .5s;
  border: 3px solid rgba(0,0,0,0.24);
  border-radius: 6px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 100%;
  height: 140px;
  resize: vertical;
}

#review-content:focus{
  transition: .5s;
  border: 3px solid #00487C;
  outline: none;
}

#review-rating:focus{
  transition: .5s;
  border-bottom: 2px solid #00487C;
  outline: none;
}

#review-rating{
  text-align: center;
  width: 25%;
  outline: 0;
  border-bottom: 2px solid rgba(0,0,0,0.24);
}

.reviews-container {
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: center;
}

.reviews-review-title {
  background-color: #00487C;
  height: 30px;
  color: white;
  margin-bottom: 5px;
}

.reviews-review-attributes {
  display: flex;
  justify-content: center;
}

.reviews-review-attribute {
  background-color: #00487C;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.reviews-review-header {
  margin: 10px;
}

.reviews-review-text {
  margin: 10px;
}

.reviews-review-container {
  height: 300px;
  width: 600px;
  box-shadow:	0px 2px 4px 1px rgba(0,0,0,0.10);
  justify-content: center;
  margin: 50px;
}