/* See also styles from login.css*/

#listing-content{
    display: block;
    margin: 0 auto;
    overflow: auto;
    transition: .5s;
    border: 3px solid #EEF8FE;
    border-radius: 6px;
    width: 400px;
    height: 40px;
}

.center textarea:focus{
    transition: .5s;
    border: 3px solid #00A6FB;
    outline: none;
}

.center textarea {
    resize: vertical;
    width: 40px;
}
.listing-img{
  width: 250px;
  height: 250px;
  display: flex;
  margin: auto;
  justify-content: center;
  overflow: hidden;
}


#create-listing-button {
    background-color: #FAF8D4;
    display: block;
    padding: .75rem 1rem;
    margin-top: 1.618rem;
    margin-left: auto;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: black;
    white-space: nowrap;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    cursor: pointer;
    user-select: none;
}
#create-listing-button:hover{
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
    background-color: #F5B700;
    transition: background-color 0.3s ease-in;
}

#create-listing-button:active {
    color: blue;
    background-color: #FAF8D4;
    transition: background-color 0.1s ease-in;
}
