.content {
  display: flex;
  padding-top: 40px;
}
.content-profile {
  display: flex;
}
.loading-circle{
   display: flex;
   justify-content: center;
   position: absolute;
   top: 40%;
   left: 40%;
}

.profile-form{
 margin: 5% auto;
 width: 100%;
 text-align: center;
 line-height: 1.5rem;
}
.profile-form hr {
 width: 50%;
 margin:auto;
}
.profile-form label {
 /*display: inline-block;*/
 text-align: left;
 margin-bottom: .5rem;
 margin-left: 5%;
 font-size: 1rem;
}

.profile-form input,
textarea {
  display: block;
  margin: 0 auto;
  transition: .5s; 
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.24);
  background: transparent;
  height: 18px;
  color:black;
  width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

}
.profile-form input::placeholder {
    color: black;
    opacity: 1;
}
.profile-form input:focus::-webkit-input-placeholder { 
    color:transparent; 
}
.profile-form input:focus{
  transition: .5s;
  border-bottom: 2px solid #00487C;
  outline: none;
  transition: .5s;
  left: 0;
}

.profile-name{
 color: black;
 font-size: 2.5rem;
}
.profile-img{
  width: 250px;
  height: 250px;
  display: flex;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
  overflow: hidden;
}
.profile-form textarea {
 resize: vertical;
}
.profile-button {
 background-color: #FAF8D4;
 display: inline-block;
 padding: .75rem 1rem;
 margin-top: 1.618rem;
 margin-left: auto;
 font-weight: 400;
 font-size: 18px;
 text-align: center;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 text-transform: uppercase;
 color: black;
 vertical-align: middle;
 white-space: nowrap;
/* background-color: $color-primary;*/
 border: 1px solid transparent;
 box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
 cursor: pointer;
 user-select: none;
}
.profile-button:hover{
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
  background-color: #F5B700;
  transition: background-color 0.3s ease-in;
}

.profile-button:active {
  color: blue;
  background-color: #FAF8D4;
  transition: background-color 0.1s ease-in;
}
