.listing {
  box-shadow:	0 4px 8px 0 rgba(0,0,0,0.30);
  width: 300px;
  height: 450px;
  margin: 10px;
  position: relative;
}

.listing-title {
  background-color: #00487C;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-picture {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  object-fit: scale-down;
}
.listing-button{
	position: absolute;
	bottom:5px;
	margin-top: auto;
	display: flex;
	justify-content: center;
	width: 300px;
	height: 60px;
}
.transaction-ok{
	display:block;
}