.listing {
  width: 300px;
  height: 460px;
  margin: 10px;
  position: relative;
}

.listing-container {
  box-shadow:	0 4px 8px 0 rgba(0,0,0,0.30);
  width: 300px;
  height: 460px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.listing-container-self {
  box-shadow:	0 4px 8px 0 #00A6FB;
  border: solid 2px #00A6FB;
  width: 300px;
  height: 460px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.listing-header {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

.listing-header-item {
  padding: 5px;
  color: #00487C;
}

.listing-lower {
  display: flex;
  margin: 5px;
}
.listing-regular {
  display: flex;
  margin: 5px;
}
.listing-log {
  display: flex;
  margin: 5px;
}

.listing-title {
  background-color: #00487C;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing-desc {
  margin: 5px;
  height: 80px;
}

.listing-picture {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  object-fit: scale-down;
}
.listing-button-unselected {
  height: 40px;
  width: 90px;
  border: none;
  color: white;
  background-color: #00487C;
  margin-left: 5px;
  border-radius: 5%;
}
.listing-button-selected {
  height: 40px;
  width: 90px;
  border: none;
  color: white;
  background-color: #00A6FB;
  margin-left: 5px;
  border-radius: 5%;
}


.transaction-ok{
	display:block;
}