.listing {
  width: 375px;
  height: 420px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 175px;
  position: relative;
}

.listing-container {
  border-radius: 10px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,.2);
  width: 375px;
  height: 600px;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  justify-content: space-between;
  flex-direction: column;
}

.listing-container-self {
  box-shadow:	0px 0px 8px 4px #00A6FB;
  width: 375px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
}
.listing-upper {
  height: 200px;
}
.listing-header,.listing-poster,.listing-header-item {
  /*padding-top: 3px;*/
  font-size: 15px;
  font-weight: 300;
  display: flex;
  color: black;
  justify-content: space-evenly;
}
.listing-poster{
  justify-content: center;
}
.listing-lower {
  display: flex;
  margin: 5px;
}
.listing-regular {
  display: flex;
  margin: 5px;
}
.listing-log {
  display: flex;
  margin: 5px;
}

.listing-title {
  padding: 15px;
  /*background-color: #00487C;*/
  height: 20px;
  color: #00487C;
  font-weight: 450;
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listing-desc {
  margin: 5px;
  height: 75px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}

.listing-picture {
  display: flex;
  justify-content: center;
  width: 375px;
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*object-fit: scale-down;*/
}
.listing-button-unselected {
  height: 40px;
  width: 100px;
  border: none;
  color: white;
  background-color: #00487C;
  margin-left: 50px;
  border-radius: 5px;
  position: relative;
  outline: 0;
}
.listing-button-selected {
  height: 40px;
  width: 100px;
  border: none;
  color: white;
  background-color: #00A6FB;
  margin-left: 50px;
  border-radius: 5px;  
  outline: 0;
}
.listing-button-unselected:hover{
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;
  background-color: #00A6FB;
  transition: background-color 0.3s ease-in;
}

.transaction-ok{
	display:block;
}