.content {
  display: flex;
  width: 100%;
}

.content-sidebar {
  width: 10%;
  box-shadow:	0 2px 4px 0 rgba(0,0,0,0.10);
}
.content-listings {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}
.content-text{
   display: flex;
   justify-content: center;
   position: absolute;
   top: 50%;
   left: 30%;
  font-size: 20px;
  font-weight: 300;
}
.loading-circle{
   display: flex;
   justify-content: center;
   position: absolute;
  top: 50%;
   left: 20%;
}
