a{
  text-decoration: none;
}

.navbar {
  box-shadow:	0 4px 8px 0 rgba(0,0,0,0.30);
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.navbar-button {
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in;
}

.navbar-button:hover {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
  background-color: #5596e6;
  transition: background-color 0.3s ease-in;
}

.navbar-button:active {
  color: blue;
  background-color: white;
  transition: background-color 0.1s ease-in;
}