.content {
  display: flex;
  flex-wrap: wrap;
}

.transaction_history-button{
  position: absolute;
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 300px;
}

.history-loading {
  margin-top: 15%;
  margin-left: 40%;
}