/* 
#00487C (Darker Blue)
#00A6FB (Lighter Blue)
#FAF8D4 (Lighter Yellow)
#F5B700 (Darker Yellow)
#EEF8FE (Off-white)
*/

.container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.container::after {
  content: ""; 
  background-size: 100%;
  background-repeat: repeat-y;
  background-image: url(https://anotherangle.eu/wp-content/uploads/2017/03/Geisel-Library-South-2048.jpg);
  opacity: 0.3;
      -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.content-box {
  
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  width: 400px;
  height: 600px;
  padding: 5px 10px 10px 10px;
  margin-top: 100px;
}
.basic-title{
  color: #00487C;
  text-align: center;
}
.center h1 a, .center h1 a:active {
  
  font-family: 'Montserrat', sans-serif;
  color:#FFFFFF;
  font-size: 80px;
}

.center a {
  color:#FFFFFF;
}

.center a:active{
  color: #00A6FB;
}


.basic-title{
  font-size: 25px;
  font-weight: 500;
}

.basic-input{
  display: block;
  margin: 0 auto;
  transition: .5s; 
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.24);
  background: transparent;
  width: 80%;
  height: 18px;
  color:black;
  
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.basic-input::placeholder {
    color: black;
    opacity: 1;
}
.basic-input:focus::-webkit-input-placeholder { 
    color:transparent; 
}


.center input[type=password]:focus, .center input[type=email]:focus, .center input[type=text]:focus{
  transition: .5s;
  border-bottom: 2px solid #00487C;
  outline: none;
  transition: .5s;
  left: 0;
}

.basic-button{
  display: block;
  margin: 0 auto;
  background-color: #00487C;
  border-radius: 25px;
  padding: 15px 32px;
  border: none;
  color: white;
  cursor: pointer;
  outline: 0;
}
.basic-button-cancel{
  display: block;
  margin: 0 auto;
  background-color: #666666;
  border-radius: 25px;
  padding: 12px 32px;
  border: none;
  color: white;
  cursor: pointer;
}

#login-button:active, #register-button:active, #forgot-button:active, #cancel-button:active{
  transform: translateY(1px);
}
#login-button:hover, #register-button:hover, #forgot-button:hover{
  background-color: #00A6FB ;
  }
#cancel-button:hover{
  background-color: #AAAAAA;
}
  
#login-forgot-pass{
  float: right;
  margin-right: 5px;
  color: #A6A6A6;
}
#login-forgot-pass:hover{
  color: #000;
}

#create-account{
  float:left;
  margin-left: 5px;
  color: #A6A6A6;
}
#create-account:hover{
  color: #000;
}
#register-button{
  float: right;
  margin-right: 40px;
}
#forgot-button{
  float: right;
  margin-right: 40px;
}
#cancel-button{
  float: left;
  margin-left: 40px;
}
#cancel-button:active{
  color:white;
}
