/* See also styles from login.css*/

#listing-content{
  display: block;
  margin: 0 auto;
  overflow: auto;
  transition: .5s;
  border: 3px solid rgba(0,0,0,0.24);
  border-radius: 6px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 100%;
  height: 140px;
  resize: vertical;
}

#listing-content:focus{
  transition: .5s;
  border: 3px solid #00487C;
  outline: none;
}


#create-listing-button {
  background-color: #FAF8D4;
  display: block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  margin-left: auto;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #00487C;
  white-space: nowrap;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  cursor: pointer;
  user-select: none;
 }
 #create-listing-button:hover{
   -webkit-animation: bounce-top 0.9s both;
           animation: bounce-top 0.9s both;
   background-color: #F5B700;
   transition: background-color 0.3s ease-in;
 }
 
 #create-listing-button:active {
   color: blue;
   background-color: #FAF8D4;
   transition: background-color 0.1s ease-in;
 }